//colors
$green: #1a9c52;
$red: #ff6068;
$orange: #fe8346;
$lightgrey: #f2f1f6;
$darkgrey: #ababab;
$blackgrey: #606060;

//fonts
@font-face{
    font-family: mons;
    src: url(../font/Montserrat-Regular.ttf);
}