@font-face {
  font-family: mons;
  src: url(../font/Montserrat-Regular.ttf);
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal, .modal2 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border: none;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  font-family: 'montserrat';
}

.modal.active, .modal2.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fe8346;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body table {
  width: 100%;
}

.modal-body table tr td {
  text-align: center;
  padding: .5rem 0;
  border-bottom: 2px solid #fe8346;
}

.modal-body .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem 0;
}

.modal-body .total p {
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-body .total p:nth-child(2) {
  font-size: 1.5rem;
}

.modal-body .confirm button {
  border: none;
  background-color: #1a9c52;
  padding: 15px 25px;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 40%;
}

.modal-body .confirm button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-body .logo {
  background-color: #1a9c52;
  border-radius: 50%;
  width: 50%;
  margin: auto;
}

.modal-body .logo img {
  width: 90%;
}

.modal-body .confirm {
  margin: 1rem 0;
}

.modal-body .confirm a {
  border: none;
  background-color: #1a9c52;
  padding: 15px 25px;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 40%;
}

.modal-body .confirm a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=styles.css.map */